<form method="post" action="/places/add" id="add-new-place" role="form">
    <div class="form-group">
        <label for="name">name</label><input id="name" type="text" name="name" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="type">
            Type
        </label>
        <input id="type" name="type" type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label><textarea id="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <div class="map"></div>
    </div>

    <div class="form-group">
        <label for="worktime-start">Working time </label><input type="text" name="workTimeInterval.start"/>
        <label for="worktime-end">to </label><input type="text" name="workTimeInterval.end"/>
    </div>

    <div class="form-group">
        <label for="rating">Rating</label><input type="text" name="rating" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="seatsCapacity">Seats</label><input type="text" name="seatsCapacity"  class="form-control"/>
    </div>
    <div class="form-group">
        <label for="priceCategory">Price Category</label>
        <select id="priceCategory" name="priceCategory" class="form-control">
            <option>Select</option>
            {{#priceCategories}}
                <option value="{{value}}">{{name}}</option>
            {{/priceCategories}}
        </select>
    </div>

    <button type="submit" class="btn btn-default">Save</button>
</form>


<script>
    var map = null;
    var marker = null;
    function initMap() {
        map = new google.maps.Map($('.map')[0], {
            center: {lat: 42.851, lng: 25.680},
            zoom: 8
        });

        google.maps.event.addListenerOnce(map, 'click', function (event) {
            addMarker(event.latLng, map);
        });

        // Adds a marker to the map.
        function addMarker(location, map) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            marker = new google.maps.Marker({
                position: location,
                map: map,
                draggable: true
            });
        }

    }
    $(initMap);

    $(function () {
        $("#add-new-place").submit(function (e) {
            e.preventDefault();

            var formData = {};
            $(this).serializeArray().map(function (x) {
                formData[x.name] = x.value;
            });

            if (marker != null) {
                var position = marker.getPosition();
                formData.location = [position.lng(), position.lat()];
            }

            $.ajax({
                type: "POST",
                url: "/places/add",
                data: formData,
                success: function (data) {
                    if (data.success === true) {
                        window.location = "/";

                    }
                    else {
                        alert("An error has occured!");
                    }
                },
                dataType: "json"
            });
        });
    });
</script>