<style>
    .like-button:not(.active) {
        display: none;
    }
</style>

<div class="clearfix" style="margin-bottom: 5px;">
    <a href="/places/add" class="btn btn-info pull-right" role="button"><i class="fa fa-plus"></i>Add new place</a>
</div>


<div class="map"></div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map($('.map')[0], {
            center: {lat: 42.851, lng: 25.680},
            zoom: 8
        });
    }

    function addMarker(location, placeId) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        marker["placeId"] = placeId;
        marker.addListener('click', function () {
            $.get("/places/info", {placeId: this.placeId}, function (response) {
                var infowindow = new google.maps.InfoWindow({
                    content: response
                });

                infowindow.open(map, marker);
            });

        });
    }

    $(function () {

        initMap();

        var places = {{{toJSON places}}};
        for (var i = 0; i < places.length; i++) {
            var place = places[i];

            var location = {lat: place.location[1], lng: place.location[0]};
            if (i == 0) {
                map.setCenter(location);
            }

            addMarker(location, place._id);
        }

        $("body").on("click", ".like-button", function (e) {
            e.preventDefault();
            var self = this;
            $.post(this.href, function () {
                $(self).removeClass("active");
                $(".like-button").not(self).addClass("active");
            });
        });
    });
</script>
